.movie-img {
  height: 330px;
  width: 200px;
}
#moviecard {
  border: none;
  color: rgb(25, 21, 49);
}
#moviecard-text {
  color: whitesmoke;
  text-decoration: none;
}

.addfave {
  color: tomato;
  border: none;
}

.removefave {
  fill: tomato;
  border: none;
}

.removefave,
.addfave {
  margin-left: 90%;
  margin-top: 10px;
}

// @media only screen and (min-width: 120px) {
//   .movie-img {
//     width: 200px;
//   }
// }
