#profile-header {
  color: rgb(25, 21, 49);
}
#user-info {
  text-transform: uppercase;
  color: rgb(25, 21, 49);
  margin-top: 10px;
}

#delete-button,
#update-button {
  color: whitesmoke;
  margin-top: 10px;
  border: 2px tomato solid;
  padding: 7px 21px;
}

#update-button {
  padding: 7px 45px;
}

#delete-button {
  background-color: darkslateblue;
  margin-left: 5px;
}
