.back-button {
  padding: 5px 20px 5px 20px;
  margin: 10px 0px;
  color: whitesmoke;
  background-color: tomato;
  border: none;
  border-radius: 4px;
}

.view-image {
  width: 350px;
}

.title {
  font-weight: bold;
  color: whitesmoke;
}

#Name-element {
  font-weight: bold;
  font-size: 20px;
  color: whitesmoke;
}
.movieview-paragraph {
  color: rgb(25, 21, 49);
  padding: 20px;
  font-size: 18px;
  height: inherit;
}

.similar-movie {
  margin: 10px 10px;
  height: 210px;
  width: 150px;
}
.similar-title {
  color: rgb(25, 21, 49);
  margin-top: 15px;
  margin-bottom: 15px;
}
