$primary: Tomato;
$body-bg: DarkSlateBlue;
$font-family-base: Oswald;

#brand {
  color: tomato;
  font-size: 50px;
}
.header {
  color: beige;
  text-align: center;
  padding: 30px;
  font-size: 50px;
}

.form-headers {
  color: whitesmoke;
  font-size: 20px;
}

.submit-button {
  color: tomato;
  padding: 5px 20px 5px 20px;
  margin: 10px 0px;
  border: 2px tomato solid;
  border-radius: 4px;
  background-color: darkslateblue;
}
.logout-button {
  color: tomato;
  padding: 5px 20px 5px 20px;
  margin: 30px 0px;
  border: 2px tomato solid;
  border-radius: 4px;
  background-color: darkslateblue;
}

.movieview-paragraph {
  color: whitesmoke;
  background-color: rgb(25, 21, 49);
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
}

#moviecard {
  border: none;
  color: rgb(25, 21, 49);
}
#moviecard-text {
  color: whitesmoke;
  text-decoration: none;
}
.addfav {
  background-color: darkslateblue;
  color: tomato;
  border: none;
  margin-left: 90%;
}

@import "~bootstrap/scss/bootstrap.scss";
